.appsManage .leftNavHeaderIcon{
  background: url('../images/icon_application.png');
}
.uploadPrivateApp,
.appdetail{
  margin-top: 60px;
}
.uploadPrivateApp ul{
  margin: 0;
  list-style: none;
}
.uploadPrivateApp li{
  display: inline-block;
  width: 22%;
  padding: 20px 0 10px 0;
  border: 1px solid #ccc;
  margin: 0 10px 20px;
}
.uploadPrivateApp li img{
  display: block;
}
.uploadPrivateApp li .logo{
  width: 70px;
  margin: 0 auto 10px;
  box-shadow: 0 1px 5px #888;
  border-radius: 4px;
}
.uploadPrivateApp li .qrcode{
  width: 40px;
  margin: 2px auto 8px;
}
.uploadPrivateApp li p{
  margin-bottom: 5px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fileInputBtn{
  position: relative;
  display: inline-block;
  width: 100px;
  height: 35px;
  line-height: 35px;
  margin-left: 10px;
  vertical-align: top;
  background: #158ad8;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  cursor:pointer;
}
.fileInputBtn:hover{
  text-decoration: none;
  color: #fff;
}
.fileInputBtn input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 35px;
  opacity: 0;
  filter:alpha(opacity=0);  
}
.uploadTips{
  margin: 10px 0 0 120px;
  color: #999;
}
.privateAppName{
  overflow: hidden;
  text-overflow: ellipsis;
  width: 110px;
  display: inline-block;
  word-wrap: break-word;
  white-space: nowrap;
  vertical-align: middle;
}
.tableBtnGroup{
  margin: 30px 0 0 0;
  text-align: right;
}

.btn.uploadSubmit, .btn.logoBtn{
  color: #fff;
  background: #158ad8;
  width: 120px;
  position: relative;
}
.btn.logoBtn{
  margin-left: 20px;
}
.uploadAppForm{
  margin-top: 30px;
}
.uploadAppForm div, .createAppForm div{
  text-align: center;
  padding: 10px 0;
}
.uploadAppForm .textInput, .createAppForm .textInput{
  width: 60%
}
.uploadAppForm select, .createAppForm select{
  display: inline-block;
  width: 60%;
  margin-left: 10px;
  border-radius: 0;
}
.logoInput{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  filter:alpha(opacity=0); 
  width: 120px;
  height: 34px;
}
.logoImg{
  width: 160px;
  height: 160px;
  background: #eee;
}
.createAppForm .formRow{
  display: inline-block;
  width: 60%;
  text-align: left;
  margin-left: 10px;
}
.toplabel{
  vertical-align: top;
  position: relative;
  top: 10px;
}
.appDesc{
  width: 100%;
  height: 100px;
  border: 1px solid #ccc;
  resize: none;
  padding: 5px;
}
.createAppForm .logoBtnContainer{
  text-align: left;
  margin: 40px 0 0 180px;
}
.logoBtnContainer p{
  margin-top: 10px;
  color: #999;
}
.tabGroup{
  padding: 0;
  text-align: center;
}
.tabGroup li.active a{
  color: #fff;
}
.tabGroup li{
  display: inline-block;
  list-style: none;
  text-align: center;
  line-height: 35px;
  background: #eee;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.tabGroup li:first-of-type{
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
}
.tabGroup li:last-of-type{
  border: 1px solid #ccc;
  border-radius: 0 4px 4px 0;
}
.tabGroup li.active{
  background: #158ad8;
  border-bottom: 1px solid #158ad8;
  border-top: 1px solid #158ad8;
}
.tabGroup li a{
  display: block;
  width: 130px;
  height: 35px;
  color: #000;
  text-decoration: none !important;
}
.rightLabel{
  width: 110px;
  text-align: right;
}
.pluginType .tab-content,.modulesSection .contentTable{
  margin-top: 50px;
}

.commitContainer .alignCenter{
  margin: 20px 0 0 0;
}
.commitContainer .btn{
  background: #158ad8;
  color: #fff;
}
.detailRow{
  margin: 30px 0 50px 0;
}
.appdetail .logoBtnContainer{
  margin-left: 200px;
}
.rightPanel .content{
  padding: 10px 40px;
}
.appItem{
  display: block;
  color: #000;
  
}
.appItem:hover{
  text-decoration: none;
}
.btn-group .btn:first-child{
  margin-right: 15px;
}
.btn-group .btn{
  width: 100px;
  border-radius: 4px !important;
}
.appdetail .info{
  overflow: hidden;
  padding: 0 20px;
  width: 80%;
  margin: 0 auto 40px;
}
.appdetail .logo{
  width: 150px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-right: 20px;
}
.appdetail .info ul{
  margin: 10px;
  width: 33%;
  list-style: none;
}
.appdetail .info ul li{
  margin-bottom: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
li .title{
  font-weight: 800;
  margin-right: 5px;
}
.qrcode-btn{
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: top;
  background: url('../images/icon_qrcode.png');
  background-size: 30px;
  cursor: pointer;
}
.icon-waring{
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: bottom;
  background: url('../images/icon_warning.png');
}
.warning-desc{
  color: #1987e0;
  text-align: center;
}
.build-btn{
  margin: 30px 0 20px 0;
  text-align: center;
}
.build-btn .btn{
  width: 200px;
  background-color: #158ad8 !important;
  border-color: #158ad8;
}
.app-btn .btn.edit{
  border-color: #158ad8;
}
.app-btn .btn.delete{
  border-color: #e0238c;
}
.hideflow{
  overflow: hidden;
}
.tab-content{
  overflow: hidden;
}
.appdetail .nav-tabs a{
  width: 200px;
  background-color: #fff;
  text-align: center;
  border: none;
}
.appdetail .nav-tabs>li.active>a, .appdetail .nav-tabs>li.active>a:focus, .appdetail .nav-tabs>li.active>a:hover{
  color: #fff;
  background-color: #158ad8;
  box-shadow: none;
}
.deviceinfo-table{
  width: 100%;
}
.deviceinfo-table thead td{
  text-align: center;
  background-color: #158ad8;
  height: 40px;
  border: 1px solid #158ad8;
  color: #fff;
}
.deviceinfo-table td{
  border: 1px solid #ccc;
  text-align: center;
}
.deviceinfo-table .version{
  width: 10%;
}
.deviceinfo-table .download_num{
  width: 10%;
}
.deviceinfo-table .size{
  width: 10%;
}
.deviceinfo-table .pub_date{
  width: 20%;
}
.deviceinfo-table .intro{
  width: 40%;
}
.btn.upgrade{
  border: 1px solid #14AA6D;
  border-radius: 4px;
  position: relative;
}
.out{
  padding: 4px 20px;
  margin: 5px 0;
  background-color: #158ad8 !important;
  border-color: #158ad8;
  border-width: 1px;
  border-radius: 4px;
}
.appPic, .appModules{
  margin: 40px 0;
}
.appPic ul, .appModules ul{
  margin: 20px 0 20px 0;
  list-style: none;
}
.appPic ul, .appModules ul{
  margin-top: 60px;
}
.appPic li, .appModules li{
  position: relative;
  display: inline-block;
  border: 1px solid #ccc;
  width: 22%;
  margin-right: 15px;
  margin-bottom: 15px;
  vertical-align: middle;
}
.appModules li{
  width: 14%;
  margin-right: 20px;
}
.appModules li p{
  text-align: center;
  width: 95%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.appPic li img, .appModules li img{
  display: block;
  margin: 30px auto 15px;
  width: 94%;
}
.appModules li img{
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.appPic li.active, .appModules li.active{
  border-color: #158ad8;
}
.appPic li.active .glyphicon-remove, .appModules li.active .glyphicon-remove{
  display: block;
}
.appPic li .glyphicon-remove, .appModules li .glyphicon-remove{
  position: absolute;
  right: 10px;
  top: 10px;
  color: #fff;
  background-color: #158ad8;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}
.selectPic{
  position:absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 34px;
  width: 106px;
}
.btn.put{
  border-color: #158ad8;
}
.tableBtnIcon.put{
  transform: rotate(180deg);
}
.appdetail ul.versionInfo{
  width: 67%;
}
.info .left-container{
  padding: 0 20px;
}
.info .left-container img{
  display: block;
  margin: 0 auto;
}
.info .left-container .qrcode{
  width: 80px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.info .left-container p{
  text-align: center;
}
.versonSelect{
  margin: 0 auto 20px;
  display: block;
}
.btn.add{
  border: 1px solid #129c69;
  border-radius: 4px;
}