.appsManage .leftNav{
  width: 180px;
  height: 475px;
  background: #fff;
  border: 1px solid #ccc;
}
.appsManage .leftNav ul{
  padding: 0;
}
.appsManage .leftNav li{
  position: relative;
  height: 40px;
  line-height: 40px;
  text-align: center;
  list-style: none;
  cursor: pointer;
}
.appsManage .leftNav li a{
  text-decoration: none;
  color: #000;
}
.appsManage .leftNav li:hover{
  background: #eee;
}
.appsManage .leftNav li:after{
  content: '';
  position: absolute;
  top: 17px;
  left: 48px;
  width: 5px;
  height: 5px;
  background: #158ad8;
}
.appsManage .leftNav li.active{
  background: #158ad8;
}
.appsManage .leftNav li.active a{
  color: #fff;
}
.appsManage .leftNav li.active:after{
  background: #fff;
}
.appsManage .header{
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  border-bottom: 1px solid #ccc;
}
.managePanel .content{
  padding: 40px 80px;
  overflow: hidden;
  position: relative;
}
.content .flag{
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  background: url('../images/bg_step.png') no-repeat;
  color: #fff;
}
.appsManage .leftNavHeaderIcon{
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 8px;
  background: url('../images/icon_application.png');
}
.uploadPrivateApp{
  margin-top: 20px;
}
.fileInputBtn{
  position: relative;
  display: inline-block;
  width: 100px;
  height: 35px;
  line-height: 35px;
  margin-left: 10px;
  vertical-align: top;
  background: #158ad8;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  cursor:pointer;
}
.fileInputBtn:hover{
  text-decoration: none;
  color: #fff;
}
.fileInputBtn input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 35px;
  opacity: 0; 
}
.uploadTips{
  margin: 10px 0 0 120px;
  color: #999;
}
.privateAppName{
  overflow: hidden;
  text-overflow: ellipsis;
  width: 110px;
  display: inline-block;
  word-wrap: break-word;
  white-space: nowrap;
  vertical-align: middle;
}
.flag_icon{
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 5px;
  background: url("../images/icon_step.png");
  vertical-align: middle;
}
.tableBtnGroup{
  margin: 30px 0 0 0;
  text-align: right;
}
.tableBtnGroup .btn{
  width: 94px;
  height: 33px;
  color: #fff;
}

.btn.detail,.btn.edit{
  background: #158ad8;
}
.btn.detail:hover,.btn.edit:hover{
  background: #117ac1;
}
.btn.upgrade{
  background: #14aa72;
}
.btn.upgrade:hover{
  background: #129c69; 
}
.btn.delete,.btn.deleteAll{
  background: #e0238c;
}
.btn.delete:hover,.btn.deleteAll:hover{
  background: #b62168; 
}