.appsManage .leftNavHeaderIcon{
  background: url('../images/icon_application.png');
}
.uploadPrivateApp,
.appdetail{
  margin-top: 60px;
}
.uploadPrivateApp ul{
  margin: 0;
  list-style: none;
}
.uploadPrivateApp li{
  display: inline-block;
  width: 22%;
  padding: 20px 0 10px 0;
  border: 1px solid #ccc;
  margin: 0 10px 20px;
}
.uploadPrivateApp li img{
  display: block;
}
.uploadPrivateApp li .logo{
  width: 70px;
  margin: 0 auto 10px;
  box-shadow: 0 1px 5px #888;
  border-radius: 4px;
}
.uploadPrivateApp li .qrcode{
  width: 40px;
  margin: 2px auto 8px;
}
.uploadPrivateApp li p{
  margin-bottom: 5px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fileInputBtn{
  position: relative;
  display: inline-block;
  width: 100px;
  height: 35px;
  line-height: 35px;
  margin-left: 10px;
  vertical-align: top;
  background: #158ad8;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  cursor:pointer;
}
.fileInputBtn:hover{
  text-decoration: none;
  color: #fff;
}
.fileInputBtn input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 35px;
  opacity: 0;
  filter:alpha(opacity=0);  
}
.uploadTips{
  margin: 10px 0 0 120px;
  color: #999;
}
.privateAppName{
  overflow: hidden;
  text-overflow: ellipsis;
  width: 110px;
  display: inline-block;
  word-wrap: break-word;
  white-space: nowrap;
  vertical-align: middle;
}
.tableBtnGroup{
  margin: 30px 0 0 0;
  text-align: right;
}

.btn.uploadSubmit, .btn.logoBtn{
  color: #fff;
  background: #158ad8;
  width: 120px;
  position: relative;
}
.btn.logoBtn{
  margin-left: 20px;
}
.uploadAppForm{
  margin-top: 30px;
}
.uploadAppForm div, .createAppForm div{
  text-align: center;
  padding: 10px 0;
}
.uploadAppForm .textInput, .createAppForm .textInput{
  width: 60%
}
.uploadAppForm select, .createAppForm select{
  display: inline-block;
  width: 60%;
  margin-left: 10px;
  border-radius: 0;
}
.logoInput{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  filter:alpha(opacity=0); 
  width: 120px;
  height: 34px;
}
.logoImg{
  width: 160px;
  height: 160px;
  background: #eee;
}
.createAppForm .formRow{
  display: inline-block;
  width: 60%;
  text-align: left;
  margin-left: 10px;
}
.toplabel{
  vertical-align: top;
  position: relative;
  top: 10px;
}
.appDesc{
  width: 100%;
  height: 100px;
  border: 1px solid #ccc;
  resize: none;
  padding: 5px;
}
.createAppForm .logoBtnContainer{
  text-align: left;
  margin: 40px 0 0 180px;
}
.logoBtnContainer p{
  margin-top: 10px;
  color: #999;
}
.tabGroup{
  padding: 0;
  text-align: center;
}
.tabGroup li.active a{
  color: #fff;
}
.tabGroup li{
  display: inline-block;
  list-style: none;
  text-align: center;
  line-height: 35px;
  background: #eee;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.tabGroup li:first-of-type{
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
}
.tabGroup li:last-of-type{
  border: 1px solid #ccc;
  border-radius: 0 4px 4px 0;
}
.tabGroup li.active{
  background: #158ad8;
  border-bottom: 1px solid #158ad8;
  border-top: 1px solid #158ad8;
}
.tabGroup li a{
  display: block;
  width: 130px;
  height: 35px;
  color: #000;
  text-decoration: none !important;
}
.rightLabel{
  width: 110px;
  text-align: right;
}
.pluginType .tab-content,.modulesSection .contentTable{
  margin-top: 50px;
}

.commitContainer .alignCenter{
  margin: 20px 0 0 0;
}
.commitContainer .btn{
  background: #158ad8;
  color: #fff;
}
.detailRow{
  margin: 30px 0 50px 0;
}
.appdetail .logoBtnContainer{
  margin-left: 200px;
}
.rightPanel .content{
  padding: 10px 20px;
}
.appItem{
  display: block;
  color: #000;
  
}
.appItem:hover{
  text-decoration: none;
}
.btn-group .btn:first-child{
  margin-right: 15px;
}
.btn-group .btn{
  width: 100px;
  border-radius: 4px !important;
}
.appdetail .info{
  overflow: hidden;
  padding: 0 20px;
  width: 80%;
  margin: 0 auto 40px;
}
.appdetail .logo{
  width: 150px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-right: 20px;
}
.appdetail .info ul{
  margin: 10px;
  width: 33%;
  list-style: none;
}
.appdetail .info ul li{
  margin-bottom: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
li .title{
  font-weight: 800;
  margin-right: 5px;
}
.qrcode-btn{
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: top;
  background: url('../images/icon_qrcode.png');
  background-size: 30px;
  cursor: pointer;
}
.icon-waring{
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: bottom;
  background: url('../images/icon_warning.png');
}
.warning-desc{
  color: #1987e0;
  text-align: center;
}
.build-btn{
  margin: 30px 0 20px 0;
  text-align: center;
}
.build-btn .btn{
  width: 200px;
  background-color: #158ad8 !important;
  border-color: #158ad8;
}
.app-btn .btn.edit{
  border-color: #158ad8;
}
.app-btn .btn.delete{
  border-color: #e0238c;
}
.hideflow{
  overflow: hidden;
}
.tab-content{
  overflow: hidden;
}
.appdetail .nav-tabs a{
  width: 200px;
  background-color: #fff;
  text-align: center;
  border: none;
}
.appdetail .nav-tabs>li.active>a, .appdetail .nav-tabs>li.active>a:focus, .appdetail .nav-tabs>li.active>a:hover{
  color: #fff;
  background-color: #158ad8;
  box-shadow: none;
}
.deviceinfo-table{
  width: 100%;
}
.deviceinfo-table thead td{
  text-align: center;
  background-color: #158ad8;
  height: 40px;
  border: 1px solid #158ad8;
  color: #fff;
}
.deviceinfo-table td{
  border: 1px solid #ccc;
  text-align: center;
}
.deviceinfo-table .version{
  width: 10%;
}
.deviceinfo-table .download_num{
  width: 10%;
}
.deviceinfo-table .size{
  width: 10%;
}
.deviceinfo-table .pub_date{
  width: 20%;
}
.deviceinfo-table .intro{
  width: 40%;
}
.btn.upgrade{
  border: 1px solid #14AA6D;
  border-radius: 4px;
  position: relative;
}
.out{
  padding: 4px 20px;
  margin: 5px 0;
  background-color: #158ad8 !important;
  border-color: #158ad8;
  border-width: 1px;
  border-radius: 4px;
}
.appPic, .appModules{
  margin: 40px 0;
}
.appPic ul, .appModules ul{
  margin: 20px 0 20px 0;
  list-style: none;
}
.appPic ul, .appModules ul{
  margin-top: 60px;
}
.appPic li, .appModules li{
  position: relative;
  display: inline-block;
  border: 1px solid #ccc;
  width: 22%;
  margin-right: 15px;
  margin-bottom: 15px;
  vertical-align: middle;
}
.appModules li{
  width: 14%;
  margin-right: 20px;
}
.appModules li p{
  text-align: center;
  width: 95%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.appPic li img, .appModules li img{
  display: block;
  margin: 30px auto 15px;
  width: 94%;
}
.appModules li img{
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.appPic li.active, 
.appModules li.active,
.apptype.active{
  border-color: #158ad8;
}
.appPic li.active .glyphicon-remove, 
.appModules li.active .glyphicon-remove, 
.appModules .bsl.modal li.active .glyphicon-ok,
.apptype.active .glyphicon-ok{
  display: block;
}
.appPic li .glyphicon-remove, 
.appModules li .glyphicon-remove,
.appModules .bsl.modal li .glyphicon-ok,
.apptype .glyphicon-ok{
  position: absolute;
  right: 10px;
  top: 10px;
  color: #fff;
  background-color: #158ad8;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}
.selectPic{
  position:absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 34px;
  width: 106px;
}
.btn.put{
  border-color: #158ad8;
}
.tableBtnIcon.put{
  transform: rotate(180deg);
}
.appdetail ul.versionInfo{
  width: 67%;
}
.info .left-container{
  padding: 0 20px;
}
.info .left-container img{
  display: block;
  margin: 0 auto;
}
.info .left-container .qrcode{
  width: 80px;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}
.info .left-container p{
  text-align: center;
}
.versonSelect{
  margin: 0 auto 20px;
  display: block;
}
.btn.add{
  border: 1px solid #129c69;
  border-radius: 4px;
}
.bsl.modal li{
  width: 21%;
}
.apptype-container{
  margin-top: 50px;
  text-align: center;
}
.apptype{
  display: inline-block;
  position: relative;
  width: 230px;
  height: 280px;
  padding: 50px 10px 30px;
  margin: 0 50px;
  border: 1px solid #ccc;
  vertical-align: middle;
}
.apptype img{
  margin-bottom: 20px;
}
.next-container{
  text-align: center;
  margin-top: 40px;
}
.next-container .btn.next,
.next-container .btn.prev{
  border: 1px solid #158ad8;
  background-color: #158ad8 !important;
  width: 150px;
  border-radius: 5px;
}
.create-step span, .selectedModules span{
  font-size: 16px;
  margin-right: 20px;
}
.create-step ul, .selectedModules ul{
  list-style: none;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}
.create-step li{
  float: left;
  position: relative;
  padding: 10px 25px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
.create-step li a{
  color: #000;
}
.create-step li.active{
  background-color: #158ad8;
  padding-right: 0;
}
.create-step li.active a{
  color: #fff;
}
.create-step li.active:after{
  content: '';
  position: absolute;
  width:0px;
  height:0px;
  top: 0;
  right: -20px;
  border-bottom:20px solid transparent;  /* left arrow slant */
  border-top:20px solid transparent; /* right arrow slant */
  border-left:20px solid #158ad8; /* bottom, add background color here */
}
.create-step li.active:before{
  content: '';
  position: absolute;
  width:0px;
  height:0px;
  top: 0;
  left: 0;
  border-bottom:20px solid transparent;  /* left arrow slant */
  border-top:20px solid transparent; /* right arrow slant */
  border-left:20px solid #fff; /* bottom, add background color here */
}
.create-step li:first-child{
  border-left: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}
.create-step li:last-child{
  border-right: 1px solid #ccc;
  border-radius: 0 5px 5px 0;
}
.create-step li.active:last-child{
  padding-right: 20px;
}
.create-step li:first-child::before{
  display: none;
}
.create-step li:last-child::after{
  display: none
}

.create-step li .index{
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  border-radius: 50%;
  background-color: #158ad8;
  text-align: center;
  color: #fff;
  margin-right: 5px;
}
.create-step li.active .index{
  color: #158ad8;
  background-color: #fff;
}
.btn.common{
  padding: 4px 20px;
  margin: 5px 0;
  background-color: #158ad8 !important;
  border-color: #158ad8;
  border-width: 1px;
  border-radius: 4px;
  cursor: pointer;
}
.btn.common input{
  width: 98px; 
  height: 30px;
}
.applogo-container{
  text-align: center;
  margin-top: 40px;
}
.applogo-container span{
  vertical-align: top;
}
.applogo-container img{
  display: inline-block;
  margin: 0 40px 0 20px;
  width: 160px;
  height: 160px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.selectImg-container{
  display: inline-block;
  vertical-align: bottom;
}
.launchPic-container{
  position: relative;
  border: 1px solid #ccc;
  margin-top: 80px;
  padding: 20px;
}
.launchPic-container .inlineli li{
  display: inline-block;
  margin: 0 10px;
  vertical-align: middle;
  text-align: center;
}
.launchPic-container ul{
  list-style: none;
  margin: 0;
}
.iphone-launch{
  position: relative;
  background: url('../images/iphone_launch.png');
  width: 140px;
  height: 296px;
  cursor: pointer;
}
.android-launch{
  position: relative;
  background: url('../images/android_launch.png');
  width: 150px;
  height: 295px;
  cursor: pointer;
}
.ipad-launch{
  position: relative;
  background: url('../images/ipad_launch.png');
  width: 197px;
  height: 293px;
  cursor: pointer;
}
.iphone-launch img{
  position: absolute;
  top: 43px;
  left: 12px;
  height: 207px;
  width: 118px;
}
.ipad-launch img{
  position: absolute;
  top: 29px;
  left: 10px;
  width: 178px;
  height: 235px;
}
.android-launch img{
  position: absolute;
  top: 25px;
  left: 7px;
  width: 135px;
  height: 240px;
}
.resolution{
  margin: 5px 0;
}
.uploadCover{
  position: absolute;
  top: 43px;
  left: 12px;
  height: 207px;
  width: 117px;
  line-height: 207px;
  background-color: rgba(0,0,0,.3);
  display: none;
}
.ipad-launch .uploadCover{
  top: 29px;
  left: 10px;
  width: 178px;
  height: 235px;
  line-height: 235px;
}
.android-launch .uploadCover{
  top: 25px;
  left: 7px;
  width: 135px;
  height: 240px;
  line-height: 240px;
}
.iphone-launch:hover .uploadCover,
.ipad-launch:hover .uploadCover,
.android-launch:hover .uploadCover{
  display: block;
}
.uploadCover .common{
  vertical-align: bottom;
}
ul.versonInfo{
  margin-top: 40px;
}
ul.versonInfo li{
  margin-bottom: 10px;
}
.versonInfo label{
  width: 60px;
  vertical-align: top;
}
.versonNum{
  width: 30px;
}
.versonDesc{
  width: 400px;
  height: 100px;
  resize: none;
}
.platformType{
  display: block;
  position: absolute;
  top: -40px;
  left: -1px;
  width: 150px;
  height: 40px;
  line-height: 40px;
  background-color: #158ad8;
  text-align: center;
  color: #fff;
}
.selectedModules{
  margin-top: 20px;
}
.selectedModules li{
  display: inline-block;
  padding: 5px 10px;
  background: #eee;
  border: 1px solid #ccc;
}
.selectedModules .glyphicon-remove{
  vertical-align: top;
  margin-left: 5px;
  color: #999;
  cursor: pointer;
}
.certificate-container{
  margin-top: 40px;
}
.certificate-info{
  list-style: none;
  margin: 0;
}
.certificate-info li{
  text-align: center;
  margin-bottom: 20px;
}
.certificate-info .info-input{
  display: inline-block;
  vertical-align: top;
  width: 500px;
  text-align: left;
}
.info-input p{
  text-align: left;
  margin-top: 5px;
}
.certificate-info li label{
  width: 200px;
  text-align: right;
  margin-right: 20px;
}
.certificate-info li input{
  width: 400px;
}
.info-input.upload input[type="text"]{
  width: 323px;
}
.uploadForm{
  height: 400px;
}
.uploadForm form{
  height: 100%;
  cursor: pointer;
}
.uploadForm form p{
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 10px;
}
.dropzone .dz-default.dz-message{
  margin-top: 130px;
}
.dz-default.dz-message .btn.upgrade span{
  display: inline-block;
}
.input-container{
  text-align: center;
  list-style: none;
  margin: 0;
  margin-top: 40px;
}
.input-container label{
  width: 70px;
  text-align: right;
  margin-right: 30px;
}
.input-container input,
.input-container select,
.input-container textarea{
  display: inline-block;
  vertical-align: top;
  width: 500px;
}
.input-container textarea{
  resize: none;
}
.input-container li{
  margin: 10px 0;
}