#buildManage .leftNavHeaderIcon{
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 8px;
  background: url('../images/icon_build.png');
}

#buildManage .content{
  padding: 15px;
}
.btn-log{
  background-color: #158AD8;
  color: #FFF;
  /*width: 66px;*/
  /*height: 25px;*/
  margin: 5px auto;
}
.btn-log:hover{
  background: #117AC1;
  color: #FFF;
}
.tableTitle.log{
  width: 140px;
}
table{
  margin-top: 10px;
  margin-bottom: 10px;
}
table+span{
  font-size: 12px;
  color: rgb( 68, 68, 68 );
}
