html{
  position:relative;
  height: auto;
  min-height:100%;
}
body{
  background: #f8f8f8;
  padding-bottom: 40px; 
}
.container{
  min-width: 970px;
}
.topHeader+.container{
  margin-top: 30px;
}
.footer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #158ad8;
  color: #fff;
}
.alignCenter{
  text-align: center;
}
.processAnchor {
  display: inline-block;
  background-color: #fff;
  height: 38px;
  margin: 0;
  line-height: 40px;
  padding: 0;
  margin: 0 0 0 20px;
  vertical-align: top;
}
.processAnchor li{
  float: left;
  list-style: none;
}
.processAnchor li a{
  color: #000;
}
.mask{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.4);
  z-index: 99;
}
.mask .modalContainer{
  width: 500px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -225px;
  background: #fff;
  border-radius: 4px;
}
.modalContainer .modalTitle{
  height: 40px;
  text-align: center;
  line-height: 40px;
  background: #158ad8;
  color: #fff;
  border-radius: 4px 4px 0 0;
  padding: 0 20px;
}
.modalContainer .modalTitle .glyphicon-remove{
  float: right;
  position: relative;
  width: 20px;
  height: 38px;
  line-height: 38px;
  cursor: pointer; 
}
.modalContainer .modalContent{
  padding: 10px 20px;
}
.modalFooter{
  position: absolute;
  bottom: 10px;
  right: 20px;
}
.modalFooter .btn{
  background: #158ad8;
  color: #fff;
  width: 100px;
}
/*--- header ---*/
.topHeader{
  height: 107px;
  min-width: 970px;
  background: #158ad8;
  color: #fff;
}
.search{
  width: 184px;
  height: 29px;
  padding-right: 26px;
  color: #999;
}
.firstGroup{
  margin: 20px 0 0 0;
}
.searchGroup
,.topHeader .userBtnGroup
,.topHeader .userInfoGroup{
  position: relative;
  display: inline-block;
  height: 29px;
  vertical-align: middle;
}
.topHeader .userInfoGroup{
  margin-left: 15px;
}
.topHeader .userInfoGroup .userName{
  overflow: hidden;
  text-overflow: ellipsis;
  width: 110px;
  display: inline-block;
  word-wrap: break-word;
  white-space: nowrap;
  vertical-align: middle;
}
.topHeader .userInfoGroup .dropdown-menu{
  background: #117ac1;
  min-width: 90px;
  left: 50%;
  border-radius: 0;
  border: 0;
  padding: 0;
}
.topHeader .userInfoGroup .dropdown-menu li{
  border-bottom: 1px solid #116caa;
}
.topHeader .userInfoGroup .dropdown-menu li:last-of-type{
  border-bottom: none;
}
.topHeader .userInfoGroup .dropdown-menu .dropMenuIcon{
  display: inline-block;
  position: relative;
  top: 1px;
  width: 14px;
  height: 14px;
  margin-right: 5px;
}
.dropMenuIcon.info{
  background: url('../images/icon_user_info.png');
}
.dropMenuIcon.settings{
  background: url('../images/icon_setting.png');
}
.dropMenuIcon.logout{
  background: url('../images/icon_exit.png');
}
.topHeader .userInfoGroup .dropdown-menu a{
  color: #fff;
  padding: 3px 8px;
  height: 34px;
  line-height: 28px;
}
.topHeader .userInfoGroup .dropdown-menu a:hover{
  background-color: #1374b6;
}
.topHeader .userInfoGroup .userAvatar{
  position: relative;
  top: -5px;
  width: 34px;
  height: 34px;
}
button{
  border: 0;
  background: none;
}
.searchGroup .searchCommit{
  position: absolute;
  border-radius: 4px;
  height: 27px;
  right: 1px;
  background-color: #fff;
  color: #999;
}
.buttonContainer{
  display: inline-block;
  position: relative;
  top: 4px;
  width: 24px;
  height: 24px;
  margin: 0 10px;
}
.buttonContainer button{
  width: 100%;
  height: 100%;
  background: #158ad8;
}
.buttonContainer button.apps{
  background: url('../images/icon_data.png');
}
.buttonContainer button.tips{
  background: url('../images/icon_ring.png');
}
.buttonContainer button.msg{
  background: url('../images/icon_message.png');
}
.righttopNum{
  position: absolute;
  top: -10px;
  right: -10px;
  height: 17px;
  padding: 0 5px;
  border-radius: 7px;
  text-align: center;
  font-size: 12px
}
button.apps+.righttopNum{
  background-color: #bdd630;
}
button.tips+.righttopNum{
  background-color: #ffbf00;
}
button.msg+.righttopNum{
  background-color: #ff3737;
}
.secondGroup{
  margin: 24px 0 0 0;
  text-align: right;
}
.manageNav{
  width: 110px;
  color: #fff;
}
.manageNav:focus,.manageNav:hover,.manageNav.active,.manageNav:active{
  background: #117ac1;
  color: #eee;
  box-shadow:none;
}
/*--- end header ---*/

.textInput{
  height: 35px;
  width: 45%;
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
}
.contentTable{
  margin-top: 10px;
  width: 100%;
  table-layout: fixed;
}
.tableTitle{
  width: 24%;
  height: 40px;
  background-color: #158ad8;
  color: #fff;
  text-align: center;
  border: 1px solid #158ad8;
}
.tableCell{
  height: 40px;
  text-align: center;
  border: 1px solid #ccc;
  overflow: hidden;
  word-wrap: break-word;
}
.tableCell.radioOption{
  width: 10px;
}
.tableTitle.radioOption{
  width: 6%;
}
/* 左边导航栏 */
.leftNav{
  width: 180px;
  height: 475px;
  background: #fff;
  border: 1px solid #ccc;
}
.leftNav .header{
  border: none;
}
.leftNav ul{
  padding: 0;
}
.leftNav li{
  position: relative;
  height: 40px;
  line-height: 40px;
  text-align: center;
  list-style: none;
  cursor: pointer;
}
.leftNav li a{
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #000;
}
.leftNav li:hover{
  background: #eee;
}
.leftNav li:after{
  content: '';
  position: absolute;
  top: 17px;
  left: 48px;
  width: 5px;
  height: 5px;
  background: #158ad8;
}
.leftNav li.active{
  background: #158ad8;
}
.leftNav li.active a{
  color: #fff;
}
.leftNav li.active:after{
  background: #fff;
}
.leftNav .header,.rightPanel .header{
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
}
.rightPanel .header{
  border-bottom: 1px solid #ccc;
  /*border: none;*/
}
.leftNavHeaderIcon{
  display: inline-block;
  width: 22px;
  height: 22px;
  vertical-align: middle;
  margin-right: 8px;
}
/* 右边内容框 */
.rightPanel{
  margin-left: 190px;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #ccc;
}
.rightPanel .content{
  padding: 40px 80px;
  overflow: hidden;
  position: relative;
}
.content .flag{
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  background: url('../images/bg_step.png') no-repeat;
  color: #fff;
}
.flag_icon{
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 5px;
  background: url("../images/icon_step.png");
  vertical-align: middle;
}

/*分页*/
.pageList{
  margin: 0;
  padding: 10px 0;
  overflow: hidden;
  list-style: none;
  text-align: center;
  border: 1px solid #ccc;
  border-top: none;
}
.pageList li{
  display: inline-block;
  margin: 0 5px;
}
.pageList li.index{
  width: 14px;
  height: 20px;
}
.pageList li.active{
  background: #158ad8;
}
.pageList li.active a{
  color: #fff;
}

/*表格按钮组*/
.tableBtnGroup .btn{
  width: 94px;
  height: 33px;
  color: #fff;
}
.tableBtnIcon{
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  vertical-align: middle;
}
.add .tableBtnIcon{
  background: url('../images/icon_add.png') no-repeat;
}
.detail .tableBtnIcon{
  background: url('../images/icon_eye.png') no-repeat;
}
.edit .tableBtnIcon{
  background: url('../images/icon_edit.png') no-repeat;
}
.upgrade .tableBtnIcon{
  background: url('../images/icon_upgrade.png') no-repeat;
}
.delete .tableBtnIcon{
  background: url('../images/icon_delete.png') no-repeat;
}
.btn.detail,.btn.edit{
  background: #158ad8;
}
.btn.detail:hover,.btn.edit:hover{
  background: #117ac1;
}
.btn.upgrade,.btn.add{
  background: #14aa72;
}
.btn.upgrade:hover,.btn.add:hover{
  background: #129c69;
}
.btn.delete,.btn.deleteAll{
  background: #e0238c;
}
.btn.delete:hover,.btn.deleteAll:hover{
  background: #b62168; 
}

/*详情框*/
.detailPane{
  margin: 30px 0 0 0;
}
.detialHeader{
  height: 40px;
  line-height: 40px;
  background: #158ad8;
  color: #fff;
  text-align: center;
}
.detialContent{
  border: 1px solid #ccc;
  border-top: none;
}
.detialContent table{
  width: 100%;
  table-layout: fixed;
}
.detialContent td{
  width: 33.33%;
  height: 40px;
  padding: 0 15px;
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-all;
}

/*表单样式*/
[class$="Form"] div{
  text-align: center;
  padding: 10px 0;
}
[class$="Form"] .textInput{
  width: 60%;
}
[class$="Form"] select{
  display: inline-block;
  width: 60%;
  margin-left: 10px;
  border-radius: 0;
}
[class$="Form"] .textInput{
  width: 60%;
}
[class$="Form"] textarea.textInput{
  height: auto;
}
[class$="Form"] .uploadFileInput{
  display: inline-block;
  text-align: left;
}
.uploadFileInput>span{
  display: inline-block;
  min-width: 315px;
  width: 70%;
  height: 35px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #FFF;
  background-image: none;
  border: 1px solid #CCC;
  border-radius: 4px;
}
.fileInputBtn{
  position: relative;
  display: inline-block;
  width: 100px;
  height: 35px;
  line-height: 35px;
  margin-left: 10px;
  vertical-align: top;
  background: #158ad8;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  cursor:pointer;
}
.fileInputBtn:hover {
  text-decoration: none;
  color: #FFF;
}
.fileInputBtn input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 35px;
  opacity: 0;
  filter:alpha(opacity=0); 
}