.modulesdetail{
  border: none;
  width: 80%;
  margin: 0 auto;
}
.leftNavHeaderIcon {
  background: url('../images/icon_module.png');
}
.rightPanel .content{
  padding: 15px;
}
.rightPanel .content.detailPage{
  padding: 40px 80px;
}
.btn.upload,.btn.update,.btn.add{
  border: none;
}
.btn.logoBtn{
  margin-left: 20px;
}
[class$="Form"] .btn{
  width: 120px;
  position: relative;
  border: none;
  overflow: hidden;
}
.btn.save,.btn.logoBtn,.btn.update,.btn.upload{
  color: #FFF;
  background: #158AD8!important;
}
.btn.back{
  color: #fff;
  background: #e0238c!important;
}
.logoImg{
  border-radius: 8px;
  border:1px solid #ccc;
}
.detailPage .btn-group .btn{
  width: 120px;
  border: none;
  margin-left: 3px;
}
.btn-group .btn:last-child {
    margin-right: 15px;
}
.btn.edit{
  border-color: #158ad8;
}
.detaiInfolList ul {
  margin: 20px 0;
}

[class$="Form"] label{
  width: 60px;
  text-align: left;
}
[class$="Form"] .formRow.numRow{
  padding: 0;
}
[class$="Form"] .textInput.num{
  width: 2.5em;
  text-align: center;
} 
[class$="Form"] .textInput.num:first-child{
  margin-left: 0;
}