#pluginList .leftNavHeaderIcon{
  background: url('../images/icon_plugin.png');
}
#pluginList .content{
  padding: 15px;
}

.main{
  width: 90%;
  margin: 0 auto;
}

.tableBtnGroup{
  text-align: right;
}
.tableBtnGroup .btn{
  /*width: 105px;*/
}

.pluginSearch{
  position: relative;
  display: inline-block;
  height: 29px;
  /*width: 184px;*/
  min-width: 160px;
  max-width: 184px;
  width: 25%;
  vertical-align: middle;
}
.pluginSearch input{
  height: 100%;
  width: 100%;
}
.pluginSearch .searchCommit{
  position: absolute;
  border-radius: 4px;
  height: 27px;
  right: 0;
  background-color: #FFF;
  color: #999;
  border: 0;
  background: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.btn.deleteAll{
  padding:6px 5px;
}
.add>.tableBtnIcon{
  margin-right: 2px;
}
.pluginDetail table span{
  display: table-cell;
}
.pluginDetail table td>span:first-child{
  min-width: 65px;
}
.btn.upload{
  border: none;
}
[class$="Form"] .btn{
  width: 120px;
  position: relative;
  border:none;
}
.btn.save,.btn.logoBtn{
  color: #FFF;
  background: #158AD8!important;
}
.btn.back{
  color: #fff;
  background: #e0238c!important;
}
.logoImg{
  border-radius: 8px;
  border:1px solid #ccc;
}
.tableTitle{
  width: 20%;
}
.tableTitle.desc{
  width: 40%;
}
.btn-group .btn {
    width: 120px;
    border: none;
}
.detailPage .btn-group .btn {
    margin-left: 3px;
}